@import "tailwindcss";

@theme {
  --color-valentine-pink: #ff6b81;
  --color-valentine-red: #ff4757;
  --color-valentine-white: #f1f2f6;
  --animate-float: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

body {
  font-family: "Outfit", sans-serif;
}
